@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
  --black: #0a0908;
  --white: #fefefe;
  --blue: #2aa7f0;
  --result-columns: 4;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: none;
  border: none;
}

body{
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 2.5vw;

  .results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    .mainTitle{
      cursor: pointer;
      color: var(--white);
      font-family: 'Lobster', cursive;
      font-size: clamp(3.5rem, 5vw, 5rem);
      letter-spacing: .1rem;
      transition: .5s all ease;
      &:hover{
        text-shadow: 3.5px 3.5px 3px var(--blue);
      }
    }
    .searchBar{
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3em .3em .3em 1.25em;
      border-radius: 30px;
      min-width: 350px;
      width: 25vw;
      input{
        font-size: 1rem;
        width: 90%;
        padding-right: 0.25em;
        &:focus{
          outline: none;
        }
      }
      button{
        background-color: var(--blue);
        padding: .3em;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 20px;
        }
      }
    }
    .gifList{
      line-height: 0;
      -webkit-column-count: var(--result-columns);
      -webkit-column-gap: 0px;
      -moz-column-count: var(--result-columns);
      -moz-column-gap: 0px;
      column-count: var(--result-columns);
      column-gap: 0px;
      width: 100%;
      list-style: none;
      .gif{
        cursor: pointer;
        position: relative;
        img{
          width: 100%;
          vertical-align: top;
          object-fit: cover;
        }
        p{
          background: rgba(0, 0, 0, .4);
          width: 100%;
          bottom: 0;
          font-size: 12px;
          color: var(--white);
          margin: 0;
          position: absolute;
          padding: .5em;
          line-height: 14px;
        }
      }
    }
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6vh);
    gap: 4vh;
    padding-bottom: 10vh;
    .mainTitle{
      color: var(--white);
      font-family: 'Lobster', cursive;
      font-size: clamp(5rem, 7.5vw, 7rem);
      letter-spacing: .1rem;
      transition: .5s all ease ;
      &:hover{
        text-shadow: 3.5px 3.5px 3px var(--blue);
      }
    }
    .searchBar{
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3em .3em .3em 1.25em;
      border-radius: 30px;
      min-width: 350px;
      max-width: 600px;
      width: 30vw;
      input{
        font-size: 1rem;
        width: 90%;
        padding-right: 0.25em;
        &:focus{
          outline: none;
        }
      }
      button{
        background-color: var(--blue);
        padding: .3em;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 20px;
        }
      }
    }
    .tagsContainer{
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        small{
          cursor: pointer;
        }
      }
      h3, small{
        color: var(--white);
      }
      .tags{
        display: flex;
        gap: .75vw;
        flex-wrap: wrap;
        .wordTag{
          color: var(--white);
          background-color: var(--blue);
          padding: .45em .75em;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .gifDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    .mainTitle{
      cursor: pointer;
      color: var(--white);
      font-family: 'Lobster', cursive;
      font-size: clamp(3.5rem, 5vw, 5rem);
      letter-spacing: .1rem;
      transition: .5s all ease;
      &:hover{
        text-shadow: 3.5px 3.5px 3px var(--blue);
      }
    }
    header{
      align-self: flex-start;
      color: var(--white);
      display: flex;
      align-items: center;
      gap: .5em;
      img{
        width: 20px;
        height: 20px;
      }
    }
    footer{
      display: flex;
      gap: 2.5vw;
      color: var(--white);
      aside{
        display: flex;
        flex-direction: column;
        gap: .25em;
        .userInfo{
          margin-top: .5em;
          display: flex;
          align-items: center;
          gap: .5em;
          img{
            max-width: 45px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px){
  :root{
    --result-columns: 5;
  }
}

@media (max-width: 800px){
  :root{
    --result-columns: 3;
  }

  body{
    .gifDetails{
      width: 90vw;
      footer{
        flex-direction: column;
        gap: .75em;
        .gif{
          max-width: 90vw;
        }
      }
    }
  }
}

@media (max-width: 500px){
  :root{
    --result-columns: 2;
  }
}